.component {
  font-size: 21px;
  font-family: 'Officina Serif', serif;
}

.fileName {
  position: relative;
  word-break: break-all;
  margin-right: 5px;
}

.formatIcon {
  position: absolute;
  top: 3px;
  left: -24px;
  align-items: center;
  width: 23px;
  height: 17px;
}

.fileFormat {
  white-space: nowrap;
  text-transform: uppercase;
}
