@import "styles/constants.pcss";

.component {
  padding: 0 8px;
  height: 25px;
  background: #ffdc7d;
  color: var(--baseColor);
  transition: background 0.2s ease-out;

  &:hover {
    background: #ffba00;
  }
}
