@import "styles/constants.pcss";

.fieldRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
}

.component {
  display: flex;
  align-items: center;
  width: 600px;
}

.value {
  flex-shrink: 0;
  width: 80px;
  font: var(--mainFont);
  font-size: 21px;
  line-height: 30px;
}

.status {
  padding: 15px;
}
