@import "styles/constants.pcss";

.component {
  position: relative;
  display: flex;
  margin: auto;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
  width: 80%;
  color: white;
  font: var(--baseFontFamily);
  font-size: 17px;
  overflow: auto;
  z-index: 1;
  overflow-x: hidden;
  white-space: pre-wrap;
}
