@import "styles/constants.pcss";

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  width: 610px;
  height: 40px;
  font: var(--mainFont);
  font-size: 24px;
  white-space: nowrap;
}

.discountInfo {
  color: var(--discountColor);
  position: absolute;
  top: 90%;
  left: 0;
  font-size: 14px;
}

.titleCol {
  position: relative;
  width: 70%;
  text-align: left;
}

.editButtonCol {
  width: 30%;
  text-align: right;
}

.button {
  font-size: 24px;
}
