@import "styles/constants.pcss";

.message {
  padding: 14px 16px 14px 16px;
  margin-bottom: 20px;
  background-color: #ffdc7d;
  border-radius: 12px;
  word-break: break-word;

  &.isError {
    border: 1px solid rgba(220, 0, 0, 0.8);
  }
}
