.component {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  flex: 0 0 120px;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.03);
  }
}

.logoImage {
  max-height: 40px;
  max-width: none;
}
