@import "styles/constants.pcss";

.tariffsLink {
  color: #282828;
  font-size: 17px;

  a {
    margin-left: 8px;
    margin-right: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(40, 40, 40, 0.3);
    text-decoration: none;
    font-size: 17px;
  }
}

.tariffsLinkHolder {
  display: flex;
  font-family: var(--mainFontFamily);
  margin-top: 10px;
}
