.component {
  position: relative;
  height: inherit;
}

.preloader {
  z-index: 10;
}

.active {
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.3;
    z-index: 11;
  }

  * { user-select: none; }
}

.top {
  top: 70px;
}
