@import 'styles/constants.pcss';

.container {
  display: flex;
  justify-content: flex-start;
  margin-right: 15px;
  background: #e5e6ea;
  color: var(--baseColor);
  font-size: 17px;
  font-family: var(--mainFontFamily);
  padding: 10px 25px;
  border-radius: 50px;
  cursor: pointer;
}

.selected {
  background: #ffdc7d;
}

.input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
