@import "styles/constants.pcss";

.title {
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 50px;

  &.compact {
    white-space: normal;
  }
}

.container {
  display: flex;
  height: inherit;
  align-items: center;
  padding: 20px 0;
}
