.container {
  padding: 20px 15px 20px 30px;

  &.last {
    opacity: 0;
    max-height: 0;
    padding: 0 15px 0 30px;
    overflow: hidden;
    transition:
      0.4s max-height cubic-bezier(0.22, 1, 0.36, 1),
      0.6s padding,
      opacity 0.3s;
  }

  &.isOpen {
    max-height: 1500px;
    padding: 20px 15px 20px 30px;
    opacity: 1;
  }
}
