@import "styles/constants.pcss";

.container {
    padding: 80px 165px 23px;
}

.btn { 
    margin-top: 60px;
}

.description {
    font-size: 21px;
    font-family: var(--mainFontFamily);
    margin-top: 43px;
    margin-bottom: 35px;
}