@import "styles/constants.pcss";

.content {
  position: relative;
  padding: 0 6px;
  min-height: calc(100vh - 121px);
}

.contentWrap {
  max-width: var(--contentLength);
  margin: 20px auto;
  display: flex;
  flex-direction: row;
}

.nav {
  position: relative;
  flex: 0 0 240px;
  margin-right: 6px;
}

.contentIn {
  flex: 1 1 100%;
}
