@import "styles/constants.pcss";

.component {
  display: flex;
  align-items: baseline;
  font: var(--mainFont);
  font-size: 35px;
}

.postfix {
  color: black;
  font-size: 24px;

  &.secondary {
    color: var(--baseColor);
    font-size: 17px;
    opacity: 0.6;
  }
}

.price {
  margin: 0 15px;
  font-size: 24px;
}

.previousPrice {
  margin-left: 20px;
  font-size: 17px;
}
