@import "styles/constants.pcss";

.description {
  max-width: 520px;
}

.promocodeInfo {
  display: flex;
  align-items: center;
  height: 40px;
  color: var(--warningLabelColor);
  font: var(--mainFont);
}
