@import "styles/constants.pcss";

.component {
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0;
  margin: 0;
  background: white;
  border-top: solid rgba(0, 0, 0, 0.1) 1px;
  font: var(--mainFont);
  font-size: 21px;
  list-style-type: none;

  &:first-of-type {
    border-top: none;
  }
}
