@import "styles/constants.pcss";

.choosen {
  display: inline-flex;
  justify-content: center;
  min-width: 133px;
  height: 39px;
  padding: 5px 15px 5px 20px;
  font-size: 17px;
  background-color: #80b980;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  align-items: center;
  font-family: var(--mainFontFamily);
}

.choosenIcon {
  transform: scale(1.3);
  margin-right: 10px;
}
