@import "styles/constants.pcss";

.component {
  white-space: normal;
  text-align: left;
}

.discountsTitle {
  margin-bottom: 5px;
}

.item {
  display: flex;
  align-items: baseline;
  font: var(--mainFont);
}

.title {
  margin-right: 15px;
  width: 380px;
  white-space: nowrap;
}

.previousPrice {
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
  width: 80px;
  font-size: 14px;
}

.discountPrice {
  width: 120px;
}
