.content {
  margin: auto;
  max-width: 500px;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  white-space: pre-line;
}

.text {
  width: 100%;
  font-size: 21px;
  font-family: 'Officina Serif', serif;
}

.previousPrice {
  font-size: 18px;
  margin-left: 15px;
}

.price {
  margin-left: 15px;
}

.costInfo {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
