.draftOrReportButtonWrapper {
  display: flex;
  justify-content: center;
  flex-basis: 130px;
  margin-right: 10px;
}

.deleteIconWrapper {
  width: 30px;
  margin-right: 10px;
}

.databaseButtonWrapper {
  margin-right: 15px;
}

.pureLink {
  text-decoration: none;
}
