@import "styles/constants.pcss";

.container {
  text-align: center;
  padding: 3px;
  background: indianred;
  color: white;
  font-weight: bold;
  font-size: 11px;
  border-top: 1px solid var(--borderColor);
}
