.content {
  padding: 70px 15px 50px;
}

.formContainer {
  max-width: 400px;
  margin: 30px auto;
}

.button {
  height: 50px;
  font-size: 21px;
}

.description {
  white-space: pre-line;
  line-height: 1.2;
}
