@import "styles/constants.pcss";

.multiOption {
  display: flex;
  align-items: center;
}

.check {
  background: #ffdc7d;
  border: none;
}

.content {
  margin-left: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
