@import "styles/constants.pcss";

.tag {
  display: inline-block;
  width: 150px;
  height: 30px;
  padding: 0 0 0 15px;
  text-align: center;
  line-height: 30px;
  vertical-align: top;
  background: var(--contentLinerBgColor);
  border: none;
  border-radius: 35px;
  cursor: move;
}
