.mainTitle {
  margin-top: 33px;
  margin-left: 33px;
}

.mainBannerContainer {
  display: flex;
  margin-top: 23px;
  padding-left: 33px;
  height: 393px;
  width: 990px;
  background-color: #fff;
}

.secondTitle {
  margin-top: 29px;
  width: 375px;
}

.description {
  margin-top: 27px;
  width: 395px;
}

.button {
  margin-top: 27px;
}

.image {
  margin-left: auto;
}
