.component {
  display: flex;
  align-items: center;
  height: 80px;
  min-width: 263px;
  padding: 23px 5px 23px 23px;
  border: 2px solid rgba(40, 40, 40, 0.2);
  margin-right: 10px;
  text-align: left;

  &.selected {
    border-color: #f7c441;
  }
}

.wrapper {
  margin-right: 0;
}
