@import "styles/constants.pcss";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 115px 44px;
  font: var(--mainFont);
}

.description {
  max-width: 640px;
  white-space: pre-line;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button {
  padding: 5px 15px;
  width: 270px;
  height: 48px;
}

.rightButton {
  margin-left: 70px;
}

.resultWrapper {
  width: 300px;
}

.infoLoader {
  min-height: 100px;
}
