@import "styles/constants.pcss";

.buttonHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.header {
  margin: 33px;
}

.loadingPlaceholder {
  opacity: 0.5;
}

.button {
  width: 180px;
  height: 39px;

  &:hover {
    background-color: var(--activeColor) !important;
  }
}
