.titleBlock {
  display: flex;
  justify-content: space-between;
}

.tariffLink {
  margin-right: 10px;
  font-family: Arial, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: rgba(40, 40, 40, 0.5);
  text-decoration: underline;
  cursor: pointer;
}

.elementsContainer {
  margin-top: 11px;
  display: flex;
}
