.cardsContainer {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.card {
  width: 100%;
  max-width: 480px;
  min-height: 535px;
  margin-right: 27px;

  &:last-child {
    margin-right: 0;
  }
}
