.component {
  display: flex;
  width: 100%;
  flex-flow: row wrap;

  &.column {
    flex-flow: column;
  }

  &.leftIndent {
    padding-left: 90px;
  }

  &.mobile {
    padding: 0;
  }

  &.zeroGrow {
    width: auto;
  }
}
