.fieldRow {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.infoText {
  margin-top: 0;
  margin-left: 21px;
}

.datepicker {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
