@import "styles/constants.pcss";

.content {
  width: 100%;
  margin: 0;
  font-size: 17px;
  color: var(--baseColor);
  line-height: 20px;
  white-space: pre-line;

  &:last-of-type {
    margin-bottom: 0;
  }
}
