@import "styles/constants.pcss";

.label {
  color: var(--lightGrayLabelColor);
  white-space: nowrap;
  line-height: 19px;
}

.text {
  font-size: 21px;
  line-height: 27px;
}

.wrapper {
  display: flex;
  flex-flow: column;

  &.row {
    flex-flow: row;
  }
}
