@import "styles/constants.pcss";

.component {
  min-height: 325px;
  padding: 35px 148px 54px;
  background: var(--sunBannerBgColor);
}

.title {
  margin-bottom: 15px;
  font-size: 35px;
  width: 235px;
}

.description {
  margin-bottom: 35px;
}

.firstRow {
  display: flex;
}

.promocodeInfo {
  display: flex;
  align-items: center;
  height: 40px;
  width: 300px;
  color: var(--warningLabelColor);
  font: var(--mainFont);
}

.loaderWrapper {
  min-height: 100px;
  margin-bottom: 20px;
}
