.container {
  display: flex;
  padding: 3px;
}

.bannerContainer {
  display: flex;
  flex-grow: 1;
}

.userInfoContainer {
  display: flex;
  flex-basis: auto;
  padding-left: 6px;
  min-width: 230px;
}

.banner {
  flex-basis: 100%;
}

.mobile {
  &.container {
    flex-direction: column;
  }

  & .userInfoContainer {
    max-width: none;
  }
}
