.content {
  display: flex;
  text-align: left;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 80px 120px 60px;
  white-space: pre-wrap;
}

.title {
  margin: 0;
}

.description {
  width: 100%;
  margin: 40px 0;
}
