@import "styles/constants.pcss";

.message {
  margin: 20px 0;
  font-size: 17px;
  font-family: var(--mainFontFamily);
  text-align: center;
  color: #787878;
  word-break: break-word;
}

.first {
  margin-top: 0;
}
