.container {
  margin-top: 40px;
}

.filesRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filesList {
  padding: 0;
}

.filesColumn {
  display: flex;
  flex-direction: column;
}

.filesLabel {
  width: 252px;
  margin-right: 50px;
}

.error {
  color: rgba(220, 0, 0, .8);
  font-style: italic;
  font-size: 13px;
}
