@import "styles/constants.pcss";

.backLink {
  color: var(--secondColor);

  span {
    margin-top: 1px;
    margin-left: 10px;
    border: none;
  }
}

.segmentWidget {
  top: 70px;
}

.indent {
  position: relative;
  min-height: 150px;
}
