@import "styles/constants.pcss";

.component {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.firstRow {
  display: flex;
  align-items: center;
  flex-basis: 200px;
  flex-shrink: 0;
}

.lastRow {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
