.component {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.textWrapper {
  padding: 14px 16px 14px 16px;
  border-radius: 12px;
  background-color: #f2f4f5;

  .primary & {
    background-color: #FFDC7D;
  }
}

.text {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
  word-break: break-word;
}
