.component {
  display: flex;
  margin: 0 10px;
  flex-grow: 1;

  &.centered {
    justify-content: center;
  }

  &.column {
    flex-flow: column;
  }

  &.mobile {
    justify-content: flex-start;
    margin: 0;
    flex-basis: 100%;
    padding-bottom: 10px;
  }

  &.topIndentNormal {
    padding-top: 20px;
  }

  &.topIndentSmall {
    padding-top: 10px;
  }

  &.prioritized {
    order: -1;
  }
}
