@import 'styles/constants.pcss';

.component {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.container {
  display: flex;
  align-items: center;
}

.label {
  font: var(--mainFont);
  margin-left: 13px;
  white-space: pre-line;
}
