.fieldRow {
  margin-top: 51px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.label {
  margin-top: 9px;
}

.input {
  width: 300px;
}

.checkbox {
  margin-top: 9px;
  margin-left: 20px;
}
