@import "styles/constants.pcss";

.component {
  padding-top: 20px;
}

.description {
  max-width: 860px;
  margin-top: 30px;
  font-family: var(--mainFontFamily);
  font-size: 17px;
  line-height: 25px;
  color: var(--baseColor);
}
