.component {
  max-width: 450px;
  text-align: left;
  white-space: pre-line;
}

.link {
  min-width: 55px;
  margin: 0 4px;
  vertical-align: middle;
  text-decoration: none;
}

.subContent {
  padding-bottom: 30px;
}
