@import "styles/constants.pcss";

.component {
  font: var(--mainFont);
}

.title {
  margin-bottom: 14px;
  font-size: 30px;
  line-height: 28px;
}

.valueInfo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  line-height: 0.75;
  font-size: 41px;
  white-space: nowrap;
}

.subTitle {
  margin-bottom: 14px;
  font-size: 17px;
}

.equalSymbol {
  margin-right: 3px;
  font-size: 19px;
  font-weight: bold;
}
