@import "styles/constants.pcss";

.component {
  display: flex;
  flex-flow: column;
  height: inherit;
  font: var(--mainFont);
  font-size: 21px;
  width: 100%;
}

.wrapper {
  background: white;
  height: 100%;
  padding: 30px;
}

.infoContainer {
  position: relative;
  margin-top: 39px;
}

.text {
  position: relative;
  padding-right: 20px;
  margin-top: 9px;
  color: #939393;
}

.icon {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 24px;
  opacity: 0.4;
}
