.phoneHolder {
    background: url(./assets/phone_full.png);
    width: 241px;
    height: 479px;
    background-size: cover;
    position: relative;
}

.screenHolder {
    width: 210px;
    height: 181px;
    position: absolute;
    top: 15px;
    left: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fff;
}

.titlesHolder {
    font-family: 'Montserrat', sans-serif;
}