.datepicker {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.labelsContainer {
  margin-bottom: 7px;
  font-size: 17px;
  font-family: 'Officina Serif', serif;
  color: #787878;
}

.labelEnd {
  margin-left: 115px;
}

.infoText {
  max-width: 531px;
}
