@import "styles/constants.pcss";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #eee8df;
}

.title {
  line-height: 27px !important;
}

.arrow {
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  align-self: flex-end;
}
