@import "styles/constants.pcss";

.component {
  max-width: 510px;
  margin-bottom: 10px;
  font: var(--mainFont);
}

.title {
  font-size: 17px;
  margin-bottom: 5px;
}

.item {
  font-size: 21px;
  line-height: 27px;
  color: var(--errorTextColor);
}
