@import "styles/constants.pcss";

.holder {
  display: flex;
  align-items: center;
  position: relative;
  font-family: var(--mainFontFamily);
}

.icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
