@import "styles/constants.pcss";

.component {
  width: 200px;
  padding: 8px 25px 30px 12px;
  background: #e5e5ea;
  border-radius: 12px;
  font: var(--baseFontFamily);
  line-height: 15px;
  white-space: pre-wrap;
}
