@import "styles/constants.pcss";

.component {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  color: var(--baseColor);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s ease color, 0.2s ease opacity;
  opacity: 0.6;

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &:hover:not(:disabled) {
    color: var(--activeColor);
    opacity: 1;
  }
}
