@import "styles/constants.pcss";

.title {
  padding: 30px 25px 20px;
  font-size: 21px;
  background: var(--contentLinerBgColor);
}

.contact {
  padding: 18px 25px;
  background: #eee8df;
  font: var(--mainFont);
  margin-top: 5px;
}

.phone {
  font-size: 21px;
  margin-top: 10px;
}

.icon {
  position: relative;
  top: 2px;
  margin-right: 8px;
}

.phoneLink {
  text-decoration: none;
}