@import "styles/constants.pcss";

.popup {
  padding: 70px 44px;
}

.content {
  margin: 0 auto;
}

.emoji {
  width: 65px;
  height: 65px;
  margin-bottom: 20px;
}

.title,
.description {
  margin-bottom: 30px;
  color: #1e1e22;
  white-space: pre-wrap;
}

.description {
  white-space: pre-line;
}

.button {
  font-size: 21px;
  min-height: 50px;
}
