.container {
  margin-top: 40px;
}

.suggesterContainer {
  margin-top: 10px;
}

.description {
  margin-top: 21px;
  width: 535px;
}

.error {
  font-family: "Officina Serif", serif;
  font-style: normal;
  font-size: 17px;
  line-height: 25px;
  color: #e33333;
}
