.container {
  display: flex;
}

.content-col {
  display: flex;
  flex-flow: column;
  flex: 1 1 100%;
}

.viewer {
  position: relative;
  top: 28px;
  right: 25px;
  transform: translate(-100%);
}

.viewer-col {
  position: relative;
  width: 0;
  margin-bottom: 40px;
}
