@import "styles/constants.pcss";

.container {
  display: flex;
  max-width: 922px;
}

.card {
  min-height: 480px;
  flex-basis: 50%;
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}
