.component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: stretch;

  /* these lines should be removed to enable adaptivity */
  min-width: 1000px;
  overflow: hidden;
}

.content {
  position: relative;
  flex-grow: 1;
  min-height: 500px;
}
