@import "styles/constants.pcss";

.moderationComment {
  max-width: 510px;
  margin-bottom: 30px;
  font: var(--mainFont);
}

.titleError {
  font-size: 17px;
  margin-bottom: 5px;
}

.item {
  font-size: 21px;
  line-height: 27px;
  color: var(--errorTextColor);
}
