@import "styles/constants.pcss";

.component {
  display: flex;
  align-items: center;
  padding: 0 50px 10px 0;
  font: var(--mainFont);
  font-size: 24px;
  white-space: nowrap;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  margin-right: 15px;

  &.big {
    font-size: 35px;
  }
}

.previousPrice {
  margin-right: 15px;
}
