@import "styles/constants.pcss";

.component {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.timeCol {
  display: flex;
  align-items: center;
  min-width: 50px;
}


.time {
  width: 15px;
  color: #787878;
}
