.component {
  display: flex;
  align-items: center;
  height: 20px;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.slider {
  width: 140px;
}

.label {
  text-align: right;
  width: 80px;
  margin-right: 50px;
}
