.wrapper {
    min-height: calc(100% - 50px);
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
}

.hiddenInput {
    position: absolute;
    opacity: 0;
}